@import "vars"
@import "_mixins/_px-to-rem"

/* HEADER */
.header
	&__home
		height: 100vh
		min-height: 700px
		background-color: $dark
		background-size: cover
		background-position: center
	&__social
		display: flex
		position: absolute
		top: 0
		right: 0
		height: 100%
		border-left: rgba(#fff, 0.1) 1px solid
	&__contacts
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		border-top: rgba(#fff, 0.1) 1px solid
		padding: rem(14px) 0

.top-line
	position: absolute
	width: 100%
	z-index: 1
	color: #fff
	padding-top: rem(40px)
	&::after
		content: ""
		display: table
		clear: both

.logo
	margin-left: rem(45px)
	&__img
		width: rem(125px)
		height: auto
		
.phone
	display: inline-block
	position: absolute
	right: rem(100px)
	font-size: rem(22px)
	white-space: nowrap
	&__icon
		color: #808080
		font-size: rem(26px)
		margin-right: 3px
		vertical-align: middle
	&__text
		font-family: "firasans-regular", sans-serif
	
.hamburger
	position: absolute
	padding: 5px 10px
	right: rem(15px)
	.hamburger-box
		width: 34px
		height: 20px
		vertical-align: middle
	.hamburger-inner, 
	.hamburger-inner::before, 
	.hamburger-inner::after
		width: 34px
		border-radius: 0
		background-color: #fff
		height: 2px
	.hamburger-inner::before
		top: -8px
	.hamburger-inner::after
		bottom: -8px

.mm-navbar
	height: auto
	padding: 0
	position: relative
	border: none
	.mm-title
		padding: rem(48px) 0
		img
			width: rem(190px)
			height: auto

.mm-panels > .mm-panel > .mm-listview:first-child, 
.mm-panels > .mm-panel > .mm-navbar + .mm-listview
	margin-top: 0
.mm-panels > .mm-panel.mm-hasnavbar
	padding-top: 0
.mm-panels > .mm-panel::before
	height: auto
.mm-listview > li:not(.mm-divider)::after
	border-bottom-width: 0
.mm-listview > li > a, 
.mm-listview > li > span
	padding: rem(20px) rem(40px)
	font-size: rem(16px)


.main-menu
	list-style-type: none
	margin: 0
	padding: 0
	&__li
		>a.menu-menu__link
			transition: color 0.25s ease-out
			&::before
			 	content: '\f219'
			 	font-family: fontawesome
			 	margin-right: 7px
			 	text-decoration: none
			 	font-size: rem(12px)
			 	position: relative
			 	top: -2px
			&:hover
				text-decoration: none
				color: $accent
		&_active
			>a.menu-menu__link
				color: $accent
	&__text
		display: inline-block
		
.header-content
	display: flex
	height: 100%
	position: relative
	top: 0
	&__main
		margin: auto

.header-composition
	text-align: center
	position: relative
	color: #fff
	&__wellcome
		&-text
			display: flex
			align-items: center
			white-space: nowrap
			text-transform: uppercase
			font-size: rem(14px)
			font-weight: 200
			&::before, &::after
				content: ''
				height: 1px
				width: 100%
				position: relative
				background-color: #fff
				display: inline-block
			&::before
				margin-right: 10px
			&::after
				margin-left: 10px
		&-title
			font-weight: 100
			font-size: rem(65px)
			border-bottom: 1px solid #fff
			white-space: nowrap
			padding: rem(6px) 0 rem(12px) 0
			margin-bottom: rem(30px)
		&-city
			display: block
			margin-bottom: rem(35px)
			text-transform: uppercase
			font-size: rem(17px)
			font-weight: 600
			&::before, 
			&::after
				content: "\f005"
				font-family: fontawesome
				color: #555
				font-size: rem(12px)
				position: relative
				top: -2px
			&::before
				margin-right: rem(15px)
			&::after
				margin-left: rem(15px)
	&__main
		&-text
			margin-bottom: rem(40px)
			font-weight: 200

.social-block
	margin: auto
	&_home
		padding: 0 rem(21px)
	&__list
		list-style-type: none
		margin: 0
		padding: 0
	&__link
		display: block
		color: #2c2c2c
		font-size: rem(18px)
		background-color: rgba(#fff, 0.2)
		width: rem(40px)
		height: rem(40px)
		line-height: rem(40px)
		margin: rem(20px) 0
		border-radius: 50%
		text-align: center
		transition: color 0.25s ease-out, background-color 0.25s ease-out
		&:hover
			background-color: $accent
			color: #fff

	
.contacts-head
	background-color: rgba(#151515, 0.15)
	&__item
		color: #fff
		&_phone
			text-align: center
			font-family: "firasans-regular", sans-serif
	&__link
		color: #fff
		&:hover
			text-decoration: none
			color: #fff
	&__icon
		margin-right: 5px
		color: #555